.Action {
  composes: flex itemsCenter from 'scrubs-traits/flexbox.css';
}

.ActionIcon {
  composes: fillBlue from 'scrubs-traits/colours.css';
  composes: iconSmall from 'scrubs-traits/icons.css';
}

.ActionIconRight {
  composes: ActionIcon;
  composes: ml1 from 'scrubs-traits/margin.css';
}

.ActionIconLeft {
  composes: ActionIcon;
  composes: mr1 from 'scrubs-traits/margin.css';
  composes: left from 'scrubs-traits/layout.css';
}
