.Action {
}

.ActionIcon {
  composes: fillBlue from 'traits/colours.css';
  composes: iconSmall from 'traits/icons.css';
}

.ActionIconRight {
  composes: ActionIcon;
  composes: ml1 from 'traits/margin.css';
  composes: right from 'traits/layout.css';
}

.ActionIconLeft {
  composes: ActionIcon;
  composes: mr1 from 'traits/margin.css';
  composes: left from 'traits/layout.css';
}
