.Avatar {
  composes: circle from 'traits/borders.css';
  composes: bgCover bgCenter from 'traits/images.css';
}

.AvatarSmall {
  composes: Avatar;
  composes: imageSmall from 'traits/images.css';
}

.AvatarMedium {
  composes: Avatar;
  composes: imageMedium from 'traits/images.css';
}
