.Topbar {
  composes: bgGrey from 'traits/colours.css';
  composes: px3 pt3 from 'traits/padding.css';
  composes: bar from 'traits/layout.css';
}

.TopbarFixed {
  composes: Topbar;
  composes: fixed top0 left0 right0 from 'traits/position.css';
}
