.Avatar {
  composes: circle from 'scrubs-traits/borders.css';
  composes: bgCover bgCenter from 'scrubs-traits/images.css';
}

.AvatarSmall {
  composes: Avatar;
  composes: imageSmall from 'scrubs-traits/images.css';
}

.AvatarMedium {
  composes: Avatar;
  composes: imageMedium from 'scrubs-traits/images.css';
}
