@value blue: #3197EF;
@value blueDark: #4272A0;
@value greyBlue: #62778A;
@value grey: #EFEFF2;
@value greyDark: #80A0BF;
@value red: #FF556E;
@value green: #31EFB5;
@value offWhite: #F7F7F7;
@value white: #FFFFFF;

.textBlue {
  color: blue;
}

.textBlueDark {
  color: blueDark;
}

.textGreyBlue {
  color: greyBlue;
}

.textGrey {
  color: grey;
}

.textGreyDark {
  color: greyDark;
}

.textRed {
  color: red;
}

.textGreen {
  color: green;
}

.textOffWhite {
  color: offWhite;
}

.textWhite {
  color: white;
}

.textTransparent {
  color: transparent;
}

.fillBlue {
  fill: blue;
}

.fillBlueDark {
  fill: blueDark;
}

.fillGreyBlue {
  fill: greyBlue;
}

.fillGrey {
  fill: grey;
}

.fillGreyDark {
  fill: greyDark;
}

.fillRed {
  fill: red;
}

.fillGreen {
  fill: green;
}

.fillOffWhite {
  fill: offWhite;
}

.fillWhite {
  fill: white;
}

.fillTransparent {
  fill: transparent;
}

.bgBlue {
  background-color: blue;
}

.bgBlueDark {
  background-color: blueDark;
}

.bgGreyBlue {
  background-color: greyBlue;
}

.bgGrey {
  background-color: grey;
}

.bgGreyDark {
  background-color: greyDark;
}

.bgRed {
  background-color: red;
}

.bgGreen {
  background-color: green;
}

.bgOffWhite {
  background-color: offWhite;
}

.bgWhite {
  background-color: white;
}

.bgTransparent {
  background-color: transparent;
}

.borderBlue {
  border-color: blue;
}

.borderBlueDark {
  border-color: blueDark;
}

.borderGreyBlue {
  border-color: greyBlue;
}

.borderGrey {
  border-color: grey;
}

.borderGreyDark {
  border-color: greyDark;
}

.borderRed {
  border-color: red;
}

.borderGreen {
  border-color: green;
}

.borderOffWhite {
  border-color: offWhite;
}

.borderWhite {
  border-color: white;
}

.borderTransparent {
  border-color: transparent;
}
