.Text { composes: sans antialiased from 'scrubs-traits/typography.css' }

.TextSmallRegularNormalBlueDark {
  composes: Text;
  composes: h3 lineHeight3 regular from 'scrubs-traits/typography.css';
  composes: textBlueDark from 'scrubs-traits/colours.css';
}

.TextSmallRegularItalicisedBlueDark {
  composes: Text;
  composes: h3 lineHeight3 regular italic from 'scrubs-traits/typography.css';
  composes: textBlueDark from 'scrubs-traits/colours.css';
}

.TextSmallRegularNormalBlue {
  composes: Text;
  composes: h3 lineHeight3 regular from 'scrubs-traits/typography.css';
  composes: textBlue from 'scrubs-traits/colours.css';
}

.TextSmallRegularItalicisedBlue {
  composes: Text;
  composes: h3 lineHeight3 regular italic from 'scrubs-traits/typography.css';
  composes: textBlue from 'scrubs-traits/colours.css';
}

.TextSmallRegularNormalWhite {
  composes: Text;
  composes: h3 lineHeight3 regular from 'scrubs-traits/typography.css';
  composes: textWhite from 'scrubs-traits/colours.css';
}

.TextSmallRegularItalicisedWhite {
  composes: Text;
  composes: h3 lineHeight3 regular italic from 'scrubs-traits/typography.css';
  composes: textWhite from 'scrubs-traits/colours.css';
}

.TextSmallRegularNormalGreyDark {
  composes: Text;
  composes: h3 lineHeight3 regular from 'scrubs-traits/typography.css';
  composes: textGreyDark from 'scrubs-traits/colours.css';
}

.TextSmallRegularItalicisedGreyDark {
  composes: Text;
  composes: h3 lineHeight3 regular italic from 'scrubs-traits/typography.css';
  composes: textGreyDark from 'scrubs-traits/colours.css';
}

.TextSmallRegularNormalRed {
  composes: Text;
  composes: h3 lineHeight3 regular from 'scrubs-traits/typography.css';
  composes: textRed from 'scrubs-traits/colours.css';
}

.TextSmallRegularNormalRedGreyDarkOnSiblingInputFocus {
  composes: TextSmallRegularNormalRed;
  composes: textGreyDarkOnSiblingInputFocus from 'scrubs-traits/colours.css';
}

.TextSmallRegularItalicisedRed {
  composes: Text;
  composes: h3 lineHeight3 regular italic from 'scrubs-traits/typography.css';
  composes: textRed from 'scrubs-traits/colours.css';
}

.TextMediumRegularNormalBlueDark {
  composes: Text;
  composes: h2 lineHeight2 regular from 'scrubs-traits/typography.css';
  composes: textBlueDark from 'scrubs-traits/colours.css';
}

.TextMediumRegularItalicisedBlueDark {
  composes: Text;
  composes: h2 lineHeight2 regular italic from 'scrubs-traits/typography.css';
  composes: textBlueDark from 'scrubs-traits/colours.css';
}

.TextMediumRegularNormalBlue {
  composes: Text;
  composes: h2 lineHeight2 regular from 'scrubs-traits/typography.css';
  composes: textBlue from 'scrubs-traits/colours.css';
}

.TextMediumRegularItalicisedBlue {
  composes: Text;
  composes: h2 lineHeight2 regular italic from 'scrubs-traits/typography.css';
  composes: textBlue from 'scrubs-traits/colours.css';
}

.TextMediumRegularNormalWhite {
  composes: Text;
  composes: h2 lineHeight2 regular from 'scrubs-traits/typography.css';
  composes: textWhite from 'scrubs-traits/colours.css';
}

.TextMediumRegularItalicisedWhite {
  composes: Text;
  composes: h2 lineHeight2 regular italic from 'scrubs-traits/typography.css';
  composes: textWhite from 'scrubs-traits/colours.css';
}

.TextMediumRegularNormalGreyDark {
  composes: Text;
  composes: h2 lineHeight2 regular from 'scrubs-traits/typography.css';
  composes: textGreyDark from 'scrubs-traits/colours.css';
}

.TextMediumRegularItalicisedGreyDark {
  composes: Text;
  composes: h2 lineHeight2 regular italic from 'scrubs-traits/typography.css';
  composes: textGreyDark from 'scrubs-traits/colours.css';
}

.TextMediumRegularNormalRed {
  composes: Text;
  composes: h2 lineHeight2 regular from 'scrubs-traits/typography.css';
  composes: textRed from 'scrubs-traits/colours.css';
}

.TextMediumRegularItalicisedRed {
  composes: Text;
  composes: h2 lineHeight2 regular italic from 'scrubs-traits/typography.css';
  composes: textRed from 'scrubs-traits/colours.css';
}

.TextLargeRegularNormalBlueDark {
  composes: Text;
  composes: h1 lineHeight2 regular from 'scrubs-traits/typography.css';
  composes: textBlueDark from 'scrubs-traits/colours.css';
}

.TextLargeRegularItalicisedBlueDark {
  composes: Text;
  composes: h1 lineHeight2 regular italic from 'scrubs-traits/typography.css';
  composes: textBlueDark from 'scrubs-traits/colours.css';
}

.TextLargeRegularNormalBlue {
  composes: Text;
  composes: h1 lineHeight2 regular from 'scrubs-traits/typography.css';
  composes: textBlue from 'scrubs-traits/colours.css';
}

.TextLargeRegularItalicisedBlue {
  composes: Text;
  composes: h1 lineHeight2 regular italic from 'scrubs-traits/typography.css';
  composes: textBlue from 'scrubs-traits/colours.css';
}

.TextLargeRegularNormalWhite {
  composes: Text;
  composes: h1 lineHeight2 regular from 'scrubs-traits/typography.css';
  composes: textWhite from 'scrubs-traits/colours.css';
}

.TextLargeRegularItalicisedWhite {
  composes: Text;
  composes: h1 lineHeight2 regular italic from 'scrubs-traits/typography.css';
  composes: textWhite from 'scrubs-traits/colours.css';
}

.TextLargeRegularNormalGreyDark {
  composes: Text;
  composes: h1 lineHeight2 regular from 'scrubs-traits/typography.css';
  composes: textGreyDark from 'scrubs-traits/colours.css';
}

.TextLargeRegularItalicisedGreyDark {
  composes: Text;
  composes: h1 lineHeight2 regular italic from 'scrubs-traits/typography.css';
  composes: textGreyDark from 'scrubs-traits/colours.css';
}

.TextLargeRegularNormalRed {
  composes: Text;
  composes: h1 lineHeight2 regular from 'scrubs-traits/typography.css';
  composes: textRed from 'scrubs-traits/colours.css';
}

.TextLargeRegularItalicisedRed {
  composes: Text;
  composes: h1 lineHeight2 regular italic from 'scrubs-traits/typography.css';
  composes: textRed from 'scrubs-traits/colours.css';
}

.TextSmallBoldNormalBlueDark {
  composes: Text;
  composes: h3 lineHeight3 bold from 'scrubs-traits/typography.css';
  composes: textBlueDark from 'scrubs-traits/colours.css';
}

.TextSmallBoldItalicisedBlueDark {
  composes: Text;
  composes: h3 lineHeight3 bold italic from 'scrubs-traits/typography.css';
  composes: textBlueDark from 'scrubs-traits/colours.css';
}

.TextSmallBoldNormalBlue {
  composes: Text;
  composes: h3 lineHeight3 bold from 'scrubs-traits/typography.css';
  composes: textBlue from 'scrubs-traits/colours.css';
}

.TextSmallBoldItalicisedBlue {
  composes: Text;
  composes: h3 lineHeight3 bold italic from 'scrubs-traits/typography.css';
  composes: textBlue from 'scrubs-traits/colours.css';
}

.TextSmallBoldNormalWhite {
  composes: Text;
  composes: h3 lineHeight3 bold from 'scrubs-traits/typography.css';
  composes: textWhite from 'scrubs-traits/colours.css';
}

.TextSmallBoldItalicisedWhite {
  composes: Text;
  composes: h3 lineHeight3 bold italic from 'scrubs-traits/typography.css';
  composes: textWhite from 'scrubs-traits/colours.css';
}

.TextSmallBoldNormalGreyDark {
  composes: Text;
  composes: h3 lineHeight3 bold from 'scrubs-traits/typography.css';
  composes: textGreyDark from 'scrubs-traits/colours.css';
}

.TextSmallBoldItalicisedGreyDark {
  composes: Text;
  composes: h3 lineHeight3 bold italic from 'scrubs-traits/typography.css';
  composes: textGreyDark from 'scrubs-traits/colours.css';
}

.TextSmallBoldNormalRed {
  composes: Text;
  composes: h3 lineHeight3 bold from 'scrubs-traits/typography.css';
  composes: textRed from 'scrubs-traits/colours.css';
}

.TextSmallBoldItalicisedRed {
  composes: Text;
  composes: h3 lineHeight3 bold italic from 'scrubs-traits/typography.css';
  composes: textRed from 'scrubs-traits/colours.css';
}

.TextMediumBoldNormalBlueDark {
  composes: Text;
  composes: h2 lineHeight2 bold from 'scrubs-traits/typography.css';
  composes: textBlueDark from 'scrubs-traits/colours.css';
}

.TextMediumBoldItalicisedBlueDark {
  composes: Text;
  composes: h2 lineHeight2 bold italic from 'scrubs-traits/typography.css';
  composes: textBlueDark from 'scrubs-traits/colours.css';
}

.TextMediumBoldNormalBlue {
  composes: Text;
  composes: h2 lineHeight2 bold from 'scrubs-traits/typography.css';
  composes: textBlue from 'scrubs-traits/colours.css';
}

.TextMediumBoldItalicisedBlue {
  composes: Text;
  composes: h2 lineHeight2 bold italic from 'scrubs-traits/typography.css';
  composes: textBlue from 'scrubs-traits/colours.css';
}

.TextMediumBoldNormalWhite {
  composes: Text;
  composes: h2 lineHeight2 bold from 'scrubs-traits/typography.css';
  composes: textWhite from 'scrubs-traits/colours.css';
}

.TextMediumBoldItalicisedWhite {
  composes: Text;
  composes: h2 lineHeight2 bold italic from 'scrubs-traits/typography.css';
  composes: textWhite from 'scrubs-traits/colours.css';
}

.TextMediumBoldNormalGreyDark {
  composes: Text;
  composes: h2 lineHeight2 bold from 'scrubs-traits/typography.css';
  composes: textGreyDark from 'scrubs-traits/colours.css';
}

.TextMediumBoldItalicisedGreyDark {
  composes: Text;
  composes: h2 lineHeight2 bold italic from 'scrubs-traits/typography.css';
  composes: textGreyDark from 'scrubs-traits/colours.css';
}

.TextMediumBoldNormalRed {
  composes: Text;
  composes: h2 lineHeight2 bold from 'scrubs-traits/typography.css';
  composes: textRed from 'scrubs-traits/colours.css';
}

.TextMediumBoldItalicisedRed {
  composes: Text;
  composes: h2 lineHeight2 bold italic from 'scrubs-traits/typography.css';
  composes: textRed from 'scrubs-traits/colours.css';
}

.TextLargeBoldNormalBlueDark {
  composes: Text;
  composes: h1 lineHeight2 bold from 'scrubs-traits/typography.css';
  composes: textBlueDark from 'scrubs-traits/colours.css';
}

.TextLargeBoldItalicisedBlueDark {
  composes: Text;
  composes: h1 lineHeight2 bold italic from 'scrubs-traits/typography.css';
  composes: textBlueDark from 'scrubs-traits/colours.css';
}

.TextLargeBoldNormalBlue {
  composes: Text;
  composes: h1 lineHeight2 bold from 'scrubs-traits/typography.css';
  composes: textBlue from 'scrubs-traits/colours.css';
}

.TextLargeBoldItalicisedBlue {
  composes: Text;
  composes: h1 lineHeight2 bold italic from 'scrubs-traits/typography.css';
  composes: textBlue from 'scrubs-traits/colours.css';
}

.TextLargeBoldNormalWhite {
  composes: Text;
  composes: h1 lineHeight2 bold from 'scrubs-traits/typography.css';
  composes: textWhite from 'scrubs-traits/colours.css';
}

.TextLargeBoldItalicisedWhite {
  composes: Text;
  composes: h1 lineHeight2 bold italic from 'scrubs-traits/typography.css';
  composes: textWhite from 'scrubs-traits/colours.css';
}

.TextLargeBoldNormalGreyDark {
  composes: Text;
  composes: h1 lineHeight2 bold from 'scrubs-traits/typography.css';
  composes: textGreyDark from 'scrubs-traits/colours.css';
}

.TextLargeBoldItalicisedGreyDark {
  composes: Text;
  composes: h1 lineHeight2 bold italic from 'scrubs-traits/typography.css';
  composes: textGreyDark from 'scrubs-traits/colours.css';
}

.TextLargeBoldNormalRed {
  composes: Text;
  composes: h1 lineHeight2 bold from 'scrubs-traits/typography.css';
  composes: textRed from 'scrubs-traits/colours.css';
}

.TextLargeBoldItalicisedRed {
  composes: Text;
  composes: h1 lineHeight2 bold italic from 'scrubs-traits/typography.css';
  composes: textRed from 'scrubs-traits/colours.css';
}
