.Input {
  composes: border rounded from 'traits/borders.css';
  composes: textBlueDark bgGrey textBlueOnFocus borderBlueOnFocus from 'traits/colours.css';
  composes: h2 regular sans antialiased from 'traits/typography.css';
  composes: fillWidth from 'traits/layout.css';
  composes: p2 from 'traits/padding.css';
  composes: mb1 from 'traits/margin.css';
}

.InputNormal {
  composes: Input;
  composes: borderGrey from 'traits/colours.css';
}

.InputError {
  composes: Input;
  composes: borderRed from 'traits/colours.css';
}
